/* This applies to all elements (bad practice) */
* {
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;	
}

/* This css centers at the middle of the screen */
#container {
	padding: 10px;
	position: absolute;
	color: black;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 37px;
	text-align: center;
	background-color: #9ef20c;
	border-radius: 25px;
	border: 3px solid black;
}

.small {
	font-size: 25px;
}